.bumu__header{
    background-color:#47A0FB;
    padding-bottom:0px;
}

nav.header.navbar.navbar-expand-lg.navbar-light{
    color: #fff !important;
}
.try{
    margin-left: 350px;
}

.logo1{
    display: flex;
    flex-direction: column;
}

.motion{
    font-size: 0.8rem;
    color: white;
    padding-left: 5px;    
}
